.container {
  width: 100vw;
  height: 100vh;

  .nav {
    margin-top: 10px;
    padding: 0 10px;
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      width: 20%;
      height: 100%;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;

      >p {
        font-size: 1.2rem;
        color: white;
      }
    }

    .right {
      width: 80%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2%;
      // overflow: hidden;
      background-color: white;
      border-radius: 10px;

      .logo {
        width: 10%;
        height: 100%;
      }
    }
  }

  .header {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .loginBtn {
      width: fit-content;
      height: fit-content;
      padding: 1rem 2rem;
      background-color: #fff;
      color: black;
      font-size: 2rem;
      border-radius: 10px;
      transition: 200ms;

      &:hover {
        padding-left: 3rem;
        background-color: #82d5ee;
      }

      &:active {
        scale: 0.9;
      }
    }
  }
}